.editHeaderLeft{
    color:red;
    float: left;
}

.editHeaderRight{
    color:rebeccapurple;
    float: right;
    text-align: center;
}

.editHeader{
    color:rebeccapurple;
    position: relative;
}
