
Strain-Online{
h1{
    text-align: center;
}
 .big{
     font-size: 20px;
     letter-spacing:8px;
 }
 .绿色{
     color: black;
     background: green;
 }
 .黄色{
    color: black;
     background: yellow;
 }
 .红色{
    color: black;
     background: red;
 }
 
 table{
    font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
} 

 td {
	text-align: center;
    width: 150px;
    min-width: 5px;
	border-width: 1px;
	padding: 3px;
	border-style: solid;
}

th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
}




.none{
	border-width: 0px;
	
	border-color: #FFFFFF;
	background-color: #FFFFFF;
}

img{
	width:100%;
}

#echarts-table{
	min-height: 200px;
	min-width: 150px;
	height: 400px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.floatEdit{
	right: 50px;
	top: 30px;
	position: absolute;
	padding: 10px;
	
}


tr:nth-child(even) {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #dedede;
}

.editPad{
	position: absolute;
	left: 0;
	top: 0;
	height: 1000px;
	width: 2000px;
	background: #999999;
}
.editTalbe{
	margin-top: 20%;
}
	tr.tableSelected{
		color: #000000;
		background: #FBEC88;
	}
	.currectData:hover{
		color: #000000;
		background: #2EF6F8;
	}
}